<% layout('layouts/boilerplate') %> 

<div class="container">
    <h1 class="text-center"> New Campground </h1>
    <div class="col-10 offset-1">
        <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="file" id="image" name="campground[image]" required>
                </div>
                <!-- <div class="mb-3 col-md-6">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                </div> -->
            </div>
            <div class="row">
                <div class="mb-3 form-group col">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="number" id="price" name="campground[price]" required>
                </div>
                <div class="mb-3 form-group col">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="campground[description]" id="description" rows="3" type="text"></textarea>
                </div>
            </div>
            <span>
                <button class="btn btn-primary m-md-1">Add Campground</button>
                <a class="btn btn-success m-md-1" href="/campgrounds">All Campgrounds</a>
            </span>
        </form>
    </div>
</div>


</html>