<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= campground.title %>  Campground</h1>
    <p> <%= campground.location %> </p>
    <!-- Form with override method to delete -->
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
        <a href="/campgrounds">All Campgrounds</a>

    </footer>
</body>
</html>