<% layout('layouts/boilerplate') %> 

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"> <%= err.message %> </h4>
    <p>Alert error, omething ent rong and my keyboard doent ork </p>
    <p><%= err.stack %> </p>
</div>