<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheet/home.css">

    <body>
        <div class="px-3 text-center text-white col-lg-8 mx-auto" id="home-content">
            <h1>ConcertZone</h1>
            <p class="lead">Covid left our beloved entertainment industry frozen and venues stuttering. As an avid music
                fan my years are reminisced by great shows and tour packages. I made this site to remember some of my
                favorite venues that may or may not survive the current state of events. Feel free to add a venue or
                write about what makes the venue unique to you. My favorite venues have always been the small "DIY" punk
                venues, and I've focused on adding a few of my favorites. 
            </p>
            <a href="/venues" class="btn btn-lrg btn-primary fw-bold"> View Venues</a>
        </div>

    </body>