<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheet/home.css">

    <body>
        <div class="px-3 text-center" id="home-content">
            <h1>Yelpcamp</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit deserunt ipsum assumenda dolorum pariatur eos
                doloribus voluptatibus fugiat laboriosam eligendi sequi nam suscipit reiciendis, sed qui, aliquam totam
                neque amet. Laboriosam sapiente dolorum veritatis mollitia! Fugiat, sed!
            </p>
            <a href="/campgrounds" class="btn btn-lrg btn-primary fw-bold"> View Campgrounds</a>            
        </div>

    </body>